.navbar-welcome-part {
  background-image: url(../../images/carousel.jpg);
  height: 624px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar-welcome-part .opacity {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-welcome-part .opacity header #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0px;
}

.navbar-welcome-part .opacity header #navbar .body .left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.navbar-welcome-part .opacity header #navbar .body .left-part .logo {
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.navbar-welcome-part .opacity header #navbar .body .left-part .logo-dot {
  color: #ffb700;
  font-size: 25px;
  font-weight: 600;
}

.navbar-welcome-part .opacity header #navbar .body .right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
}

.navbar-welcome-part .opacity header #navbar .body .right-part ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.navbar-welcome-part .opacity header #navbar .body .right-part ul :nth-child(6) a {
  position: relative;
}

.navbar-welcome-part .opacity header #navbar .body .right-part ul :nth-child(6) a p {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.navbar-welcome-part .opacity header #navbar .body .right-part ul li {
  list-style: none;
  padding-left: 30px;
}

.navbar-welcome-part .opacity header #navbar .body .right-part ul li:hover a::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.navbar-welcome-part .opacity header #navbar .body .right-part ul li a {
  text-decoration: none;
  color: #bbbbbb;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  position: relative;
  padding: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem;
  letter-spacing: 0.05em;
  line-height: 18px;
}

.navbar-welcome-part .opacity header #navbar .body .right-part ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffb700;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.25s ease-in;
  transition: -webkit-transform 0.25s ease-in;
  transition: transform 0.25s ease-in;
  transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
}

.navbar-welcome-part .opacity header #navbar .body .right-part i {
  display: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.navbar-welcome-part .opacity #welcome-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-welcome-part .opacity #welcome-part .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0px 10px;
}

.navbar-welcome-part .opacity #welcome-part .body .title {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.navbar-welcome-part .opacity #welcome-part .body .line {
  height: 4px;
  width: 12%;
  background-color: #ffb700;
  margin-bottom: 5%;
  margin-top: 2%;
}

.navbar-welcome-part .opacity #welcome-part .body .paragraph {
  color: #e3e2e2;
  font-size: 18px;
  margin-bottom: 25px;
}

.navbar-welcome-part .opacity #welcome-part .body .get-started {
  text-decoration: none;
  width: 28%;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 12px 0px;
  border: 2px solid #ffb700;
  border-radius: 50px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.navbar-welcome-part .opacity #welcome-part .body .get-started:hover {
  background-color: #ffb700;
  color: white;
}

main {
  font-family: "Roboto", sans-serif;
}

main #constructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0px 80px;
}

main #constructions .body .text-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #constructions .body .text-part .title {
  font-size: 30px;
  font-weight: 600;
  position: relative;
}

main #constructions .body .text-part .title::before {
  content: " ";
  position: absolute;
  left: -65px;
  top: 50%;
  height: 2px;
  width: 50px;
  background-color: #ffb700;
}

main #constructions .body .text-part .title::after {
  content: " ";
  position: absolute;
  right: -65px;
  top: 50%;
  height: 2px;
  width: 50px;
  background-color: #ffb700;
}

main #constructions .body .text-part .paragraph {
  width: 85%;
  font-size: 17px;
  text-align: center;
  color: gray;
  margin-bottom: 100px;
}

main #constructions .body .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  border: 1px solid #e6e6e6;
}

main #constructions .body .card-body .image {
  width: 100%;
  height: 100%;
}

main #constructions .body .card-body .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main #constructions .body .card-body .card-text-part {
  height: 100%;
  padding: 40px 15px 40px 15px;
}

main #constructions .body .card-body .card-text-part .title {
  font-size: 18.5px;
  font-weight: 600;
  color: #454545;
}

main #constructions .body .card-body .card-text-part .paragraph {
  width: 100%;
  font-size: 17px;
  color: gray;
}

main #our-projects {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0px 80px;
  border-top: 1px solid #c1c1c1;
}

main #our-projects .body .text-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #our-projects .body .text-part .title {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  margin-bottom: 5px;
}

main #our-projects .body .text-part .title::before {
  content: " ";
  position: absolute;
  left: -65px;
  top: 50%;
  height: 2px;
  width: 50px;
  background-color: #ffb700;
}

main #our-projects .body .text-part .title::after {
  content: " ";
  position: absolute;
  right: -65px;
  top: 50%;
  height: 2px;
  width: 50px;
  background-color: #ffb700;
}

main #our-projects .body .text-part .paragraph {
  width: 80%;
  font-size: 17px;
  text-align: center;
  color: gray;
  margin-bottom: 70px;
}

main #our-projects .body .filter-images .filter-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #our-projects .body .filter-images .filter-part ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

main #our-projects .body .filter-images .filter-part ul li {
  list-style: none;
}

main #our-projects .body .filter-images .filter-part ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #4e4e4e;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main #our-projects .body .filter-images .filter-part ul li a:hover {
  color: #ffb700;
}

main #our-projects .body .filter-images .overflow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 312px;
}

main #our-projects .body .filter-images .overflow .project-card-hvr {
  display: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.433);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

main #our-projects .body .filter-images .overflow .project-card-hvr .filter-name-part {
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  height: 20%;
}

main #our-projects .body .filter-images .overflow .project-card-hvr .filter-name-part .filter-name {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  padding: 5px 10px;
  background-color: #ffb700;
  color: white;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  margin: 0;
}

main #our-projects .body .filter-images .overflow .project-card-hvr .icon-part {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  gap: 5%;
}

main #our-projects .body .filter-images .overflow .project-card-hvr .icon-part i {
  font-size: 30px;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main #our-projects .body .filter-images .overflow .project-card-hvr .icon-part i:hover {
  color: #ffb700;
}

main #our-projects .body .filter-images .overflow .project-card-hvr .paragraph-part {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

main #our-projects .body .filter-images .overflow .project-card-hvr .paragraph-part .paragraph {
  color: #dbdbdb;
  font-size: 18px;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  font-weight: 600;
  margin: 0;
}

main #our-projects .body .filter-images .overflow .project-card1 {
  background-image: url(../../images/projects1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

main #our-projects .body .filter-images .overflow .project-card2 {
  background-image: url(../../images/projects2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

main #our-projects .body .filter-images .overflow .project-card3 {
  background-image: url(../../images/projects3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

main #our-projects .body .filter-images .overflow .project-card4 {
  background-image: url(../../images/projects4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

main #our-projects .body .filter-images .overflow .project-card5 {
  background-image: url(../../images/projects5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

main #our-projects .body .filter-images .overflow .project-card6 {
  background-image: url(../../images/projects6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

main #our-projects .body .filter-images .overflow .project-card7 {
  background-image: url(../../images/projects7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

main #our-projects .body .filter-images .overflow .project-card8 {
  background-image: url(../../images/projects8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

main #our-projects .body .filter-images .overflow .project-card9 {
  background-image: url(../../images/projects9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

main #our-projects .body .filter-images .overflow .project-card10 {
  background-image: url(../../images/projects10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

main #our-projects .body .filter-images .overflow .project-card11 {
  background-image: url(../../images/projects11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

main #our-projects .body .filter-images .overflow .project-card12 {
  background-image: url(../../images/projects12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

main #our-projects .body .filter-images .overflow:hover .project-card {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

main #our-projects .body .filter-images .overflow:hover .project-card-hvr {
  display: block;
}

footer {
  background-image: url(../../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 470px;
  font-family: 'Roboto', sans-serif;
}

footer .opacity {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.759);
  padding: 65px 0px 60px;
}

footer .opacity #links-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .opacity #links-part .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 30px;
  border-bottom: 1px solid #555555;
}

footer .opacity #links-part .body .about-part * {
  color: white;
  margin: 0px;
}

footer .opacity #links-part .body .about-part .name {
  font-size: 28px;
  font-weight: 600;
}

footer .opacity #links-part .body .about-part .address1 {
  margin-top: 25px;
  font-size: 14px;
}

footer .opacity #links-part .body .about-part .address2 {
  font-size: 14px;
  margin-bottom: 30px;
}

footer .opacity #links-part .body .about-part .phone {
  font-size: 14px;
}

footer .opacity #links-part .body .about-part .phone span {
  font-weight: 600;
}

footer .opacity #links-part .body .about-part .email {
  font-size: 14px;
}

footer .opacity #links-part .body .about-part .email span {
  font-weight: 600;
}

footer .opacity #links-part .body .about-part .medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

footer .opacity #links-part .body .about-part .medias .ico {
  padding: 2.2% 2.5%;
  border-radius: 10%;
  background-color: #3a4251;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

footer .opacity #links-part .body .about-part .medias .ico:hover {
  background-color: #ffb700;
}

footer .opacity #links-part .body .about-part .medias .ico i {
  font-size: 18px;
}

footer .opacity #links-part .body .link .title {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

footer .opacity #links-part .body .link ul {
  padding: 0;
}

footer .opacity #links-part .body .link ul li {
  margin-bottom: 15px;
  list-style: none;
}

footer .opacity #links-part .body .link ul li a {
  text-decoration: none;
  color: #b7b7b7;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

footer .opacity #links-part .body .link ul li a:hover {
  color: white;
}

footer .opacity #copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0px 0px;
}

footer .opacity #copyright .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .opacity #copyright .body .up {
  color: white;
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 5px;
}

footer .opacity #copyright .body .up span {
  font-weight: bold;
}

footer .opacity #copyright .body .down {
  color: white;
  font-size: 14px;
}

footer .opacity #copyright .body .down span {
  color: #ffb700;
  cursor: pointer;
}

@-webkit-keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media only screen and (max-width: 1285px) and (min-width: 768px) {
  .card-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 496px !important;
  }
  .card-body .image-con {
    height: 60% !important;
    width: 100%;
    padding: 0px !important;
  }
  .card-body .text-con {
    height: 40% !important;
    width: 100%;
  }
  .card-body .text-con .card-text-part {
    padding: 30px 15px 20px 15px !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 0px) {
  .card-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 496px !important;
  }
  .card-body .image-con {
    height: 60% !important;
    width: 100%;
    padding: 0px !important;
  }
  .card-body .text-con {
    height: 40% !important;
    width: 100%;
  }
  .card-body .text-con .card-text-part {
    padding: 30px 15px 20px 15px !important;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 0px) {
  header #navbar .body .right-part ul {
    display: none !important;
  }
  header #navbar .body .right-part i {
    display: block !important;
  }
}
/*# sourceMappingURL=style.css.map */